<div class="posts-tab">
	<div><h3>外部传递参数： {{  info }}</h3></div>
	<div class="dynamic-component-demo-posts-tab dynamic-component-demo-tab">
		<ul class="dynamic-component-demo-posts-sidebar">
			<li v-for="post in posts" v-bind:key="post.id"
			v-bind:class="{ liSelected: post === selectedPost }"
			v-on:click="selectedPost = post">{{ post.title }}</li>
		</ul>
		<div class="dynamic-component-demo-post-container">
			<div class="dynamic-component-demo-post">
				<div v-if="selectedPost" class="selected-post">
					<h3>{{ selectedPost.title }}</h3>
					<div v-html="selectedPost.content"></div>
				</div>
			</div>
		</div>
	</div>
</div>
